*{
	margin: 0;
	padding: 0;
}

body, html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

.card{
	flex-grow: 1;
    overflow: auto;
    margin: 0 30px 30px 30px;
}

.card img{
	height: 236.86px;
}

.carousel-item img{
	text-align: center;
	width: 80%;
	height: 400px;
	background-size: cover;
}

#carouselExampleIndicators{
	width: 100%;
	margin-bottom: 100px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  font-weight: bolder;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  font-weight: bolder;
}
